<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cooking Conversions</title>
</head>
<body>
<form th:action="@{/convert}" method="get">
    <label for="firstAmount">Amount</label>
    <input name="firstAmount" id="firstAmount" type="number" step=".1">

    <label for="firstUnit">Unit</label>
    <select name="firstUnit" id="firstUnit">
        <option value="teaspoon(s)">tsp</option>
        <option value="tablespoon(s)">tbsp</option>
    </select>
    <label for="secondUnit">Conversion</label>
    <select name="secondUnit" id="secondUnit">
        <option value="teaspoon(s)">tsp</option>
        <option value="tablespoon(s)">tbsp</option>
    </select>
    <input type="submit">
</form>
<div th:text="${results}"></div>
</body>
</html>